.vs/
DevExpress.Tutorials.v16.1/bin
DevExpress.Tutorials.v16.1/obj
PrintingMainDemo/obj
PrintingMainDemo/bin
PrintingMainDemo/.vs
StudyForm/obj
StudyForm/bin
ResourceConvertToResx/bin
ResourceConvertToResx/obj